.topbar {
  position: sticky;
  top: 0;
  z-index: 100;

  background: white;

  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 24px 26px;

  border-bottom: 1px solid #eeeeee;
}

.topbar-title {
  margin: 0;

  font-size: 28px;
  font-weight: bold;

  color: #ff7700;
}

.topbar-user {
  display: flex;
  align-items: center;
  gap: 12px;
}

.logout-button {
  padding: 8px 14px;

  border: none;
  border-radius: 8px;

  background: #ff7700;
  color: white;

  cursor: pointer;
  font-weight: 600;
}

.logout-button:hover {
  opacity: 0.9;
}