# APPS
PORT=3001

# Cors Origin
CORS_ORIGIN=''

# Credential!!
ACCESS_TOKEN_SECRET=
REFRESH_TOKEN_SECRET=

# HyperClova
CLOVA_API_KEY='nv-1b17e5ec16434a9f82291bf25df6fe0dNmxm'
CLOVA_API_URL='https://clovastudio.stream.ntruss.com/v1/chat-completions/HCX-003'

# Database
DB_NAME=''
DB_USER=''
DB_PASS=''
DB_HOST=''
DB_DIALECT=''
DB_PORT=''